@import "../abstract/variables";

.apply_leave {
    background-color: #f5f7f9;
    padding: 15px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e7ec;
    font-family: $font-main;

    &__left {
        display: flex;
        align-items: center;
        gap: 12px;
        color: #6a7181;
        font-size: 14px;
        font-weight: 500;

        span:first-child::after {
            content: ' : 0 | ';
            margin-right: 5px;
        }

        span:last-child::after {
            content: ' : 0';
        }
    }

    &__mid {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid #e1e7ec;
        border-radius: 4px;
        padding: 6px 16px;
        color: #444;
        font-size: 14px;
        font-weight: 500;
        gap: 10px;
        position: relative;

        
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 15px;

       

        button {
            background-color: $color-primary;
            color: white;
            border: none;
            padding: 8px 20px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: darken($color-primary, 5%);
            }
        }
    }
}